.container {
  background-color: rgb(123, 204, 204);
  font-family: sans-serif;
  padding: 10px;
  height: 700px;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.box {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  border-radius: 3px;
  
}

#box1 {
  background-color: yellow;
}

#box2 {
  background-color: green;
}

#box3 {
  background-color: red;
}
