* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.texto {
  display: grid;
  background-color: rgb(13, 115, 233);
  text-align: center;
  padding: 0px 5px;
}

.menu .texto {
  padding: 0px 10px;
}

.cabecalho {
  margin: 0px 10px;
  background-color: #bebebe;
  padding: 15px;
  display: grid;
  place-items: center;
}

.menu {
  margin: 10px;
  background-color: #bebebe;
  padding: 5px;
  display: grid;
  place-items: center;
}

.colunas {
  background-color: white;
  height: 33rem;
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

.colunas p {
  background-color: #bebebe;
  display: grid;
  place-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.rodape {
  display: grid;
  place-items: center;
  align-content: center;
  background-color: #bebebe;
  margin: 0px 10px;
  padding: 10px 10px 15px 10px;
  max-height: 100%;
}
