* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
}

.imagem-flutuante {
  float: right;
  width: 20rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subtitulo {
  clear: both;
}
